{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container my-5">

<div class="row">
<div class="col ">

<p class="display-4 text-center">FORMULAIRE</p>

</div>


</div>


<div class="row">
<div class="col">

{{ form(formulaire) }}

</div>


</div>


</div>

{% endblock %}
